@import "../main.scss"; 

.wrapper {
    position: relative;
    width: 100%;
    height: 70px; 

    @include flex-column; 
    @include align-center; 
    border-radius: $border-radius;
    overflow: hidden; 

    .title, .bg {
        position: absolute;
        top: 0; 
        left: 0;
        border-radius: $border-radius; 
        @include flex-column;
        @include align-center; 
        @include width-height; 
    }

    .title {
        z-index: 5; 
        text-align: center;
    }
    .bg {
        z-index: -2; 
        img {
            filter: blur(2px) saturate(100%) contrast(50%)
        }
    }
}