@import '../main.scss'; 

.header {
    width: calc(100vw - (2 * $padding));
    height: 100px; 
    margin: $padding; 
    background-color: $main;
    border-radius: $border-radius; 
    padding: $padding;

    @include flex-row; 
    align-items: center;
    justify-content: space-between;

    .nav {
        max-width: 500px; 

        @include flex-row; 
        justify-content: space-evenly;
        gap: 20px; 

        a {
            color: white;
            text-decoration: none;
            font-size: 14px; 
            transition: 0.2s;
        }
        a:hover {
            text-decoration: underline;
            transition: 0.2s; 
            font-size: 16px; 
        }
    }
}