@use 'sass:color'; //allow the use of color.adjust

//color palette 
$wns-pink : #f7146b;
$lightpink: #b484b8; 
$bg-grey: #f1f1f1;

//color used in the project 
$main: $wns-pink;
$btn-hover: color.adjust($main, $blackness: 15%); 

//font 
$font-title: 'Montserrat', sans-serif; 
$font-subtitle: 'Lora', serif ; 
$font-body: 'Hind Madurai', sans-serif;

//other variables 
$border-radius: 15px; 
$padding: 10px; 


* {
    box-sizing: border-box;
    margin: unset; 
    padding: unset; 
}

body {
    font-family: $font-body; 
    max-width: 100vw;

    main {
        min-height: calc(100vh - (150px + 100px) + (3 * $padding)); 
        margin: $padding; 
    }
}
h1 {
    color: white; 
}
h2, h3, h4, h5, h6 {
    color: $main; 
}
h1, h2, h3 {
    font-family: $font-title ; 
}
h4, h5, h6 {
    font-family: $font-subtitle ;
}

//mixin: 
@mixin flex-row {
    display: flex; 
    flex-direction: row;
}

@mixin flex-column {
    display: flex; 
    flex-direction: column
}

@mixin align-center {
    justify-content: center;
    align-items: center;
}

@mixin width-height { 
    width: 100%;
    height: 100%;
}